/* styling book container */
.container{
    width: 15%;
    border: 2px black solid;
    padding: 5px;
    margin: 1%;
    border-radius:5px; 
}
/* styling book cover */
.cover{
    width: 100%;
}
/* styling book title */
.title{
    font-size: 13px;
    font-weight:bold;
}
/* styling book author name */
.author{
    font-size: 13px;
    font-weight: bold;
}
/* styling labels */
label{
    font-size: 13px;
    margin-right:5px; 
    font-weight: bold; 
}
/* styling select component */
select{
    width: 70%
}
/* styling .container for select component */
.select{
    display: flex;
    flex-wrap: wrap
}